<html>
<head>
    <title>New Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>You created a new contact !</h1>
        <p>Name : {{ newcontact.getName }}</p>
        <p>Phone Number : {{ newcontact.getPhoneNumber }}</p>
        <p>Adress : {{ newcontact.getAdress }}</p>
        <p><a href="/">Home</a></p>
    </div>
</body>
</html>
